<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/notice.css">
</head>
<body>
 
<div class="main-section" style="background:#f0f3fa">
    <div class="container">
    
      <div class="event">
        <h2 class="heading">Campus News</h2>
        <div>
          <marquee direction="up" scrollamount="7" style="height:340px;">
            <ul>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
              <li>
                <i>01-April-2023 :</i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <img src="images/new.gif">
              </li>
            </ul>
          </marquee>
        </div>
      </div>
  
      <div class="event">
        <h2 class="heading">Events</h2>
        <div>
          <ul>
            <li>
              <span class="event-date">29 <br> April </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <span class="event-date">29 <br> April </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <span class="event-date">29 <br> April </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <span class="event-date">29 <br> April </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <span class="event-date">29 <br> April </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
          </ul>
        </div>
      </div>
    
      <div class="event">
        <h2 class="heading">Notice Boards</h2>
        <div>
          <ul>
            <li>
              <img src="images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <img src="static/images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <img src="static/images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <img src="static/images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <img src="static/images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
            <li>
              <img src="static/images/folder.png"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

 
    <marquee behavior="scroll" scrollamount="9" direction="left" style="height:80px;  color: white; background-color: rgb(29, 29, 109);">
      <h1>Some information</h1>
    </div>

</body>
</html>